.background {
	color: $color-backgrounds;
	margin: 20px 0;
	width: 100%;
	display: table;

	.container {
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 20px;

		h1 {
			color: $yellow;
			font-family: $font-main;
			font-size: 5rem;
			line-height: 105%;
			margin-bottom: 0;
			padding: 0 10%;
		}

		p {
			padding: 0 10%;
			margin-top: 0;
		}
	}
}

.jumbotron {
	@include backImage(
		'../images/yosemite2011-4.jpg',
		500px);
	margin-top: 0;
}

.bridge {
	@include backImage(
		'../images/yosemite2011-4.jpg',
		300px, center center);
}

.row.match-my-cols {
	overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
  background-color: lightcyan;
  height: 100%;
}

		    
.mytext>p {
		background-color: antiquewhite;
	    border-bottom-style: solid;
	    border-bottom-width: thick;
	    border-bottom-color: cadetblue;
		text-decoration: none;
		padding: 10px;
	&:hover {
			background-color: #ECEAEA
		}  
	  }
	
.mycontainer {
		background-color: antiquewhite;
	    border-bottom-style: solid;
	    border-bottom-width: thick;
	    border-bottom-color: cadetblue;
		text-decoration: none;
		padding: 0px;
	    margin-bottom: 5px;
		p {
		padding: 10px;	
		}
}





/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height: auto;} 
}

.row.no-margin-row {
    margin-right: 0px;
    margin-left: 0px;
}